.circle1{
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color:yellow;
    border-radius: 50%;

}
.circle2{
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    background-color:red;
}
.circle3{
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    background-color:green;
}